.nav--list {
  display: none;
}

.nav--list--visible {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav--list--item {
  background-color: #0a0a0a;
  border-bottom: 0.2px solid grey;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  height: 50px;
  list-style-type: none;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-top: 15px;
  text-align: left;
}

.expanded {
  padding-left: 40px;
}

.nav--list--item--plus {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.plus-button {
  background-color: #0a0a0a;
  border: none;
  color: white;
}
